body {
  font-family: Arial, sans-serif;
  background-color: #00fff7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  max-width: 900px;
  width: 100%;
  background-color: #016083;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.question-info {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
   font-size: 48px;
  font-weight: bold;
}

.question-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 850px;
  margin-top: 40px;
}

.question {
  margin-top: 30px;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
  /* margin-right: -10px; */
  padding-right: 30px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin:0;
  font-size: 28px;
  font-weight: bold;
}

li {
  margin-bottom: 20px;
  /* margin-top: -10px; */
}

button {
  background-color: #0881fa;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 330px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid rgb(84, 160, 188);
}

button.selected {
  background-color: #80c040;
  color: #fff;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.score{
  width: 500px;
  height: 200px;
   justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-align: center;
}

